.btn {
    padding: 0;
    width: auto;
    height: auto;
    border-image: linear-gradient(180deg, #ff595a 0%, #e50695 47.19%, #9d1d96 100%) 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info {
    color: #9d1d96;
  }
  
  .lg-scalable-btn {
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    padding-inline: 10px;
  }
  
  .md-scalable-btn {
    font-size: 15px;
    height: 40px;
    padding-inline: 10px;
  }
  
  .sm-scalable-btn {
    font-size: 15px;
    height: 35px;
    padding-inline: 10px;
  }
  
  .link {
    padding: 0;
    font-weight: 700;
  }
  
  .lg-scalable-link {
    font-size: 18px;
    height: 45px;
  }
  
  .md-scalable-link {
    font-size: 18px;
    height: 45px;
  }
  
  .sm-scalable-link {
    font-size: 18px;
    height: 45px;
  }
  